<div id="<%= dom_id location_area %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= location_area.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= location_area.location_id %>
  </div>
</div>
